:root {
  --background-color: rgba(150, 118, 103, 1);
  --font-color1: white;
  --font-color2: rgba(77, 58, 48, 1);
  --font-color3: rgba(53, 39, 32, 1);
  --font-family1: "Antonio", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

.antonio {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: var(--font-family1);
  color: var(--font-color1);

  #herosection {
    background-image: url(/assets/teacher3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

    h1 {
      padding-top: 30vh;
      text-transform: uppercase;
      font-size: 8em;
      opacity: 80%;
    }

    nav {
      margin-right: 20vw;
      margin-left: 20vw;
      ul {
        display: flex;
        justify-content: space-evenly;
        li {
          list-style: none;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--font-color1);
            font-size: 1.5em;
            opacity: 70%;
          }
        }
      }
    }
  }

  #offer {
    ul {
      li:first-child {
        div:first-child {
          background-image: url(/assets/main2.jpg);
          h2 {
            padding-top: 28vh;
            opacity: 90%;
          }
        }
      }
      li:nth-child(2) {
        div:last-child {
          background-image: url(/assets/main4.jpg);
        }
      }
      li:last-child {
        div:first-child {
          background-image: url(/assets/main3.jpg);
          h2 {
            padding-top: 21vh;
            opacity: 90%;
          }
        }
      }
      li:first-child,
      li:last-child {
        display: flex;
        div:first-child {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          filter: brightness(90%);
          height: 50vh;
          h2 {
            color: var(--font-color2);
            writing-mode: vertical-lr;
            padding-left: 45vw;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 300;
          }
        }
        div:last-child {
          background-color: var(--background-color);
          width: 50vw;
          h2 {
            text-transform: uppercase;
            opacity: 70%;
            font-weight: 500;
            font-size: 2em;
            padding-top: 10vh;
            padding-left: 2vw;
          }
        }
      }
      li:nth-child(2) {
        display: flex;
        width: 100vw;
        div:first-child {
          background-color: var(--background-color);
          width: 50.7vw;
          height: 50vh;
          h2 {
            text-transform: uppercase;
            opacity: 80%;
            font-weight: 500;
            font-size: 2em;
            padding-top: 10vh;
            padding-left: 2vw;
          }
        }
        div:last-child {
          width: 50vw;
          height: 50vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          filter: brightness(90%);
          h2 {
            color: var(--font-color2);
            writing-mode: vertical-lr;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 300;
            padding-top: 24vh;
            opacity: 80%;
          }
        }
      }
    }
  }
  #share {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    height: 12vh;
    padding-top: 3vh;
    h2 {
      text-transform: uppercase;
      padding-top: 3.2vh;
    }
    div {
      display: flex;
      align-items: center;
      img {
        padding-right: 3vw;
      }
      .img1 {
        height: 4em;
      }
      .img2 {
        height: 3em;
      }
      .img3 {
        height: 4em;
      }
      .img4 {
        height: 2em;
      }
    }
  }
  #faq {
    padding-top: 5em;
    background-color: var(--background-color);
    h2 {
      text-align: center;
      text-transform: uppercase;
    }
    div {
      margin-top: 1em;
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      div {
        width: 33vw;
        div {
          margin-left: 2em;
          margin-right: 2em;
          height: 18vh;
          text-transform: uppercase;
          text-align: justify;
          h3 {
            color: var(--font-color2);
          }
        }
      }
    }
  }
}
