<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dazzling Yoga Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style_form.css" />
  </head>

  <body>
    <section>
      <div>
        <a href="/View/formyogies1.php">Yogies</a>
        <a href="/owners_form.php">Studio Owner</a>
        <a href="/teachers_form.php">Yoga Teacher</a>
      </div>
      <h1>Dazzling Yoga</h1>
    </section>
  </body>
</html>
